.background--grey {
  background-color: #EBEBEB;
}
.background--white {
  background-color: white;
}
.background--tertiary {
  background-color: #99E2D0;
}
.background--light-grey {
  background-color: #f8f8f8;
}
.background--green {
  background-color: #AFFFD0;
}

.flexbox-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flexbox--space-between {
  justify-content: space-between;
}
.flexbox--nowrap {
  flex-wrap: nowrap;
}
.flexbox-padding {
  padding: 20px 22px 40px 22px;
}
.flexbox--children-right {
  justify-content: flex-end;
}
.flexbox--children-center {
  align-items: center;
  justify-content: center;
}
.flexbox--children-baseline {
  align-items: baseline;
}
.flexbox--children-flex-end {
  align-items: flex-end;
}
.flexbox-item--flex-end {
  align-self: flex-end;
}
.flexbox-item--full-width {
  width: 100%;
}
.flexbox-item--5 {
  flex-basis: 5%;
}
.flexbox-item--10 {
  flex-basis: 10%;
}
.flexbox-item--20 {
  flex-basis: 10%;
}
.flexbox-item--30 {
  flex-basis: 30%;
}
.flexbox-item--40 {
  flex-basis: 40%;
}
.flexbox-item--80 {
  flex-basis: 80%;
}
.flexbox-item--90 {
  flex-basis: 90%;
}
.flexbox-item--95 {
  flex-basis: 95%;
}

.responsive-flexbox-item--33 {
  flex-basis: 100%;
}
.responsive-flexbox-item--30 {
  flex-basis: 100%;
}

@media only screen and (min-width: 989px) {
  .responsive-flexbox-item--33 {
    flex-basis: 33%;
  }
  .responsive-flexbox-item--30 {
    flex-basis: 30%;
  }
}
.background--grey {
  background-color: #EBEBEB;
}
.background--white {
  background-color: white;
}
.background--tertiary {
  background-color: #99E2D0;
}
.background--light-grey {
  background-color: #f8f8f8;
}
.background--green {
  background-color: #AFFFD0;
}

.card-round--low {
  border-radius: 5px;
}
.card-round--medium {
  border-radius: 10px;
}
.card-round_top--medium, #illu-delice-sens, #illu-francaise, #illu-note-enchantee, #illu-palette-gout {
  border-radius: 10px 10px 0px 0px;
}
.card-round_top--high {
  border-radius: 40px 40px 0px 0px;
}
.card-round_right--medium {
  border-radius: 0px 10px 10px 0px;
}
.card-round_right--high {
  border-radius: 0px 40px 40px 0px;
}
.card-shadow {
  box-shadow: 0px 4px 9px 1px #dedede;
}

.background--center--no-repeat, #illu-delice-sens, #illu-francaise, #illu-note-enchantee, #illu-palette-gout {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background--contain {
  background-size: contain;
}

.flexbox-fonctionnement--format {
  margin-bottom: 20px;
}

.card {
  background-color: #f8f8f8;
  align-items: center;
}
.card-fonctionnement--padding {
  padding: 10px 30px 10px 30px;
}

.text-fonctionnement--padding {
  padding-left: 30px;
}

.numero-fonctionnement {
  position: relative;
  right: -6px;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #9356DC;
}

.logo-fonctionnement {
  padding-left: 30px;
}

#illu-delice-sens, #illu-francaise, #illu-note-enchantee, #illu-palette-gout {
  height: 200px;
}

#illu-palette-gout {
  background-image: url("../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

#illu-note-enchantee {
  background-image: url("../images/stil-u2Lp8tXIcjw-unsplash.jpg");
}

#illu-francaise {
  background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

#illu-delice-sens {
  background-image: url("../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.new-tag {
  text-align: center;
  width: 70px;
  height: 13px;
  margin: 10px;
}

.tmp {
  transition: background-color 1000ms ease-in-out;
}

.fonctionnement-container:hover {
  cursor: pointer;
}
.fonctionnement-container:hover > div {
  background-color: #f4eefc;
}
.fonctionnement-container:hover > div > i {
  color: #9356DC;
}
.fonctionnement-icons {
  transition: color 500ms ease-in-out;
}
.fonctionnement-description {
  transition: background-color 500ms ease-in-out;
}

#loading-arrow {
  animation: RemoveLoading 1000ms 1000ms both;
}

#menu-list {
  animation: LoadingArrow 1500ms 1000ms both;
}

@keyframes RemoveLoading {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateY(999px);
    opacity: 0;
  }
}
@keyframes LoadingArrow {
  0% {
    transform: translateY(999px);
    opacity: 0;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(-70px);
    opacity: 1;
  }
}

/*# sourceMappingURL=_accueil.css.map */
