@import '../abstracts/_colors.scss';
@import '../abstracts/_flexbox.scss';
@import '../components/_images.scss';

$slide-duration: 1000ms;
$slide-menu-delay: 200ms;

#header-illustration{
  height: 250px;
  width: 100%;
  @extend .background--center--no-repeat;
  background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
#menu-container{
  position: relative;
  top: -50px;
}
.underline-titles{
  position: relative;
}
.underline-titles::after{
  content: "";
  background: $color-tertiary;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 40px;
}
#command-button{
  min-width: 150px;
}

// ################################### MENU - SLIDE ANIMATION
@for $i from 1 through 3 {
    #menu_#{$i}{
      animation: SlideBotToTop $slide-duration $i * $slide-menu-delay backwards;
    }
}
@keyframes SlideBotToTop {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
