@import '../abstracts/colors.scss';
@import '../abstracts/flexbox.scss';
@import '../components/images.scss';

$slide-duration: 1000ms;
$slide-menu-delay: 200ms;

#header-illustration{
  height: 250px;
  width: 100%;
  @extend .background--center--no-repeat;
  background-image: url("../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
#menu-container{
  position: relative;
  top: -50px;
}
.underline-titles{
  position: relative;
}
.underline-titles::after{
  content: "";
  background: $color-tertiary;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 40px;
}
#command-button{
  min-width: 150px;
}

// ################################### MENU - SLIDE ANIMATION
@keyframes SlideBotToTop {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.menu {
  &-description{
    width: calc(100% - 80px);
    transition: width 500ms ease-in-out;
  }
  &-price{
    width: 40px;
  }
  &-validation{
    width: 0px;
    opacity: 0;
    transition: width 500ms ease-in-out, opacity 500ms ease-in-out;
  }
  &-item {
    overflow: hidden;
    &:hover{
      cursor: pointer;
      & > .menu-validation {
        width: 60px;
        opacity: 1;
      }
      & > .menu-description {
        width: calc(100% - 140px);
      }
    }
  }
}
@for $i from 1 through 3 {
    #menu_#{$i}{
      animation: SlideBotToTop $slide-duration $i * $slide-menu-delay backwards;
    }
}
