body{
  margin: 0;
}
header{
  background-image:url("../images/ohmyfood@2x.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
}
.section{
  &-fonctionnement{
    padding: 0px 20px;
  }
}
