@import '../abstracts/colors.scss';

body{
  margin: 0;
}
header{
  background-image:url("../images/ohmyfood@2x.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
}
.section{
  &-fonctionnement{
    padding: 40px 20px;
  }
  &-restaurants {
    background-color: lighten($basic-grey,5%);
    padding: 40px 20px;
  }
}
