@import '../abstracts/colors.scss';
@import '../abstracts/texts.scss';
@import '../components/logos.scss';

body{
  margin: 0;
}
header{
  @extend .logo_company-background;
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
}
footer{
  background-color: darken($basic-grey, 70%);
  color: white;
}
.section{
  &-fonctionnement{
    padding: 40px 20px;
  }
  &-restaurants {
    background-color: lighten($basic-grey,5%);
    padding: 40px 20px;
    overflow: hidden;
  }
}

// BREAKPOINTS
// TABLET: min: 768, max: 992px
// DESKTOP: min: 993
