@import '../abstracts/colors.scss';

.round-button{
  height: 40px;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  &--pink{
      color: white;
      background-image: linear-gradient($color-secondary,$color-primary);
  }
}
