.flexbox{
  &-horizontal{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
  }
  &--nowrap{
    flex-wrap: nowrap;
  }
  &-padding{
    padding: 20px 22px 40px 22px;
  }
  &--children-center{
    align-items: center;
    justify-content: center;
  }
  &-item{
    &--full-width{
      flex-basis: 100%;
    }
    &--20{
      flex-basis: 20%;
    }
    &--80{
      flex-basis: 80%;
    }
  }
}
