.flexbox{
  &-horizontal{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
  }
  &--space-between{
    justify-content: space-between;
  }
  &--nowrap{
    flex-wrap: nowrap;
  }
  &-padding{
    padding: 20px 22px 40px 22px;
  }
  &--children-right {
    justify-content: flex-end;
  }
  &--children-center{
    align-items: center;
    justify-content: center;
  }
  &--children-baseline{
    align-items: baseline;
  }
  &--children-flex-end{
    align-items: flex-end;
  }
  &-item{
    &--flex-end{
      align-self: flex-end;
    }
    &--full-width{
      width: 100%;
    }
    &--5{
      flex-basis: 5%;
    }
    &--10{
      flex-basis: 10%;
    }
    &--20{
      flex-basis: 10%;
    }
    &--30{
      flex-basis: 30%;
    }
    &--40{
      flex-basis: 40%;
    }
    &--80{
      flex-basis: 80%;
    }
    &--90{
      flex-basis: 90%;
    }
    &--95{
      flex-basis: 95%;
    }
  }
}
.responsive-flexbox{
  &-item{
    &--33{
      flex-basis: 100%;
    }
    &--30{
      flex-basis: 100%;
    }
  }
}
@media only screen and (min-width: 989px) {
  .responsive-flexbox{
    &-item{
      &--33{
        flex-basis: 33%;
      }
      &--30{
        flex-basis: 30%;
      }
    }
  }
}
